*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
body{
    font-family: 'roboto', sans-serif;
    overflow-x: hidden;
}
body:has(.btn-topo) .btn-topo {
    display: block;
}
/*estilização header*/
a{
    pointer-events: auto;
    position: relative;
    z-index: 10;
}
.header-section{
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    justify-content: center;
}
.header-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* ou use vw se necessário */
    height: 100vh; /* ou use vh se necessário */
    background: #ccc; /* Exemplo */
    z-index: -1; /* Mantém o background atrás do texto */
}
.content-header{
    position: absolute;
    display: flex;
    top: 20px;
    width: 100%;
    justify-content: center;
}
.content-header-2{
    position: absolute;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%); /* centraliza verticalmente */
    font-size: 40px;
    font-weight: 800;
    text-shadow: 2px 2px 5px  #000000;
    text-transform: uppercase;
    opacity: 0.8;
}
.nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    z-index: 100;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
        margin-top: 45px;
}
.h1{
    display: flex;
    align-items: center;
}
.h1::before{
    content: "";
    background-image: url("img/logo-removebg-preview (1).png");
    background-color: white;
    width: 95px;
    height: 95px;
    border-radius: 189px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin: 0 18px 0 0;
}
.header-section h1{
    margin-right: 250px;
    color: white;
    font-family: 'Rye';
    font-size: 50px;
    font-weight: 200;
}
/*icone wp*/
.wp img{
    position: fixed;
    object-fit: fill;
    width: 80px;
    height: 80px;
    right: 10px;
    bottom: 90px;
}
/*section one*/
.sct-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    height: auto;
    background-color: #013954;
    padding: 150px 100px;
    margin: -60px 0 0 0;
}
.sct-1 img{
    width: 100%;
    height: 500px;
    object-fit: fill;
    border-radius: 10px;
}
.content-sct-1{
    width: 30%;
    margin-left: 50px;
    font-size: 2rem;
    color: white;
}
.content-sct-1 h3{
    font-family: 'Rye', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 500;
}
/*section two*/
.sct-2{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
}
.sct-2 img{
    margin: 50px;
    width: 590px;
    height: 590px;
    object-fit: fill;
}
.content-sct-2{
    margin: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.style-sct2{
    display: flex;
    background-color: rgb(244, 242, 240);
    width: 80%;
    margin: 80px 0 50px 0;
    box-shadow: 1px 1px 10px 10px rgb(217, 210, 210);
    border-radius: 1%;
}
.content-sct-2 h3{
    font-size: 2.8rem;
    text-align: center;
    margin: 5% 0 10%;
    font-family: 'Rye', sans-serif;
    font-weight: 100;
    color: #B73735;

}
.sct-2-price span{
    display: inline;
    width: 100%;
}
.linha-com-texto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.linha-com-texto span{
    margin: 0 10px;
}
.linha{
    flex-grow: 1;
    height: 2px;
    background-color: #000000;
    width: 100%;
}
.sct-2-price{
    align-items: center;
    font-family: 'sans-serif';
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
}

/*section three*/
.sct-3{
    display: flex;
    flex-direction: column;
    flex-wrap: 1;
    flex-grow: 1;
    height: auto;
    align-items: center;
    background-color: #013954;
    margin-top: 100px;

}
.sct-3 h3{
    font-family: 'Rye', sans-serif;
    font-size: 3.5rem;
    color: white;
    margin: 50px 0px 0px 0px;
    font-weight: 200;
    display: flex;
    justify-content: center;
}
.sct-3 p{
    color: white;
    font-size: 1.5rem;
    margin: 20px 0px 90px 0px;
}

.sct-3 img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20%;
    opacity: 0.9;
}
.sct-3 img:hover{
    opacity: 1;
    transition: 500ms;
}
figcaption{
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;

}
.img-sct-3{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-evenly;
    margin: 0 0 90px 0;
}
/*section 4*/
.sct-4{
    width: 100%;
    height: 100%;
    margin: 150px 0px;
}
.sct-4 h2{
    font-family: 'Rye', sans-serif;
    font-size: 3.5rem;
    color:#B73735;
    margin: 50px 0px 0px 0px;
    font-weight: 200;
    display: flex;
    justify-content: center;
}
.sct-4-cnt{
    text-align: center;
    margin-bottom: 150px;
}
.cards{
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 90px;
}
.card{
    background-color: #013954;
    color: white;
    padding: 40px;
    height: auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #B73735;
    margin: 20px 0 20px 0;
}
.card h4{
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-align: center;
}
.card .card-preco{
    text-align: center;
}
.card-preco-1{
    font-size: 2.6rem;
    text-align: center;
    font-weight: 700;
}
.mensal{
    text-align: center;
    margin-bottom: 30px;
}
.beneficios{
    margin: 40px 0px;
}
.beneficios p{
    margin: 10px 0 20px 0;
    display: flex;
}
.beneficios p::before{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("img/check_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg");
    font-size: inherit;
    vertical-align: middle;
    margin-right: 8px;
}
.corte-ilimitado{
    display: flex;
    align-items:end;
}
.beneficios .corte-ilimitado::before{
    content: "";
    background-image: url("img/minimize_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg");
    vertical-align: middle;
    font-size: inherit;
    width: 20px;
    height: 30px;
}
.barba-ilimitada{
    display: flex;
    align-items: flex-end;
}
.beneficios .barba-ilimitada::before{
    content: "";
    background-image: url("img/minimize_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg");
    vertical-align: middle;
    font-size: inherit;
    width: 20px;
    height: 30px;
}
.assinar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card a{
    background-color: #B73735;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 30px;
    width: 60%;
    text-align: center;
    
}
.card a:hover{
    background-color: white;
    color: black;
    transition: 600ms;
}
/*section five*/
.sct-5{
    width: 100%;
    background-color: #013954;
    display: flex;
    flex-direction: column;
}
.sct-5 h3{
    text-align: center;
    font-family: 'Rye', sans-serif;
    font-size: 3.5rem;
    color: white;
    margin: 50px 0px 0px 0px;
    font-weight: 200;
}
iframe{
    width: 900px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
}
.imagem-footer img{
    background-repeat: no-repeat;
    width: 100%;
    height: 20px;
}
/*footer*/
footer{
    background-color: #B73735;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.footer{
    padding: 90px 50px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.logo-rp{
    width: 100px;
    margin: 20px;
    border-radius: 150px;
    box-shadow: 1px 1px 10px 5px white;
}
.icon{
    display: flex;
    align-items: center;
}
.icon figure{
    margin-left: 15px;
}
.social{
    width: 70px;
}
.review{
    width: 200px;
}
.logo-rodape{
    background-color: aliceblue;
    border-radius: 150px;
}
.horario{
    color: white;
    font-size: 1.3rem;
    text-align: center;
}
.horario p{
    padding: 5px;
}
.horario a{
    text-decoration: none;
    color: white;
}
.btn-topo{
    display: none; /* Oculto por padrão */
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.3s;
}
.btn-topo:hover {
    background-color: #555;
}
.developer{
    background-color: #000000;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    font-weight: none;
}
.developer a{
    text-decoration: none;
    color: white;
}

/*responsividade*/

@media(min-width:300px) and (max-width: 480px){
    /*header*/
    .content-header h1{
        margin: 0px;
        font-size: 1.2rem;
    }
    .h1::before{
        width: 50px;
        height: 50px;
    }
    .header-section::before{
        display: none;
    }
    .content-header nav a{
        font-size: 1rem;
        display: none;
    }
    .header-section{
        height: 300px;
    }
    .content-header-2{
        font-size: 1rem;
        text-align: center;
        padding: 30px;
    }
    video{
        height: 100%;
        
    }
    /*section 2*/
    .sct-1{
        display: flex;
        width: 100%;
        padding: 0;
        margin: -16px 0 0 0;
    }
    .sct-1 img{
        margin-top: 50px;
        padding: 0px;
        width: 100%;
        height: 300px;
    }
    .ft-1{
        margin: 0;
    }
    .content-sct-1{
        width: 100%;
        margin: 0 auto;
    }
    .content-sct-1 p{
        font-size: 1.2rem;
        padding: 0 20px 20px 20px;
        text-align: center;
        margin-bottom: 50px;
    }
    .sct-1 h3{
        font-size: 2.3rem;
        text-align: center;
        justify-content: center;
        padding: 10px 10px 0px 10px;
        margin-bottom: 20px;
    }
    /*sct 2*/
    .sct-2{
        width: 100%;
        padding: 20px;
    }
    .style-sct2 img{
        width: 100%;
        height: 100%;
        margin: 0px;
        border-radius: 10px;
    }
    .style-sct2{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .content-sct-2{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .content-sct-2 h3{
        font-size: 2rem;
        margin: 0;
    }
    .sct-2-price{
        font-size: 0.9rem;
        margin-bottom: 30px;
        padding: 5px;
    }
    /*sct 3*/
    .sct-3{
        margin: 0;
    }
    .img-sct-3{
        width: 100%;
    }
    .img-sct-3 img{
        width: 200px;
        object-fit: cover;
        height: 200px;
    }
    .sct-3 h3{
        font-size: 2.3rem;
        padding: 10px;
    }
    .sct-3 p{
        text-align: center;
        font-size: 1rem;
        margin: 0 0 30px 0;
        padding: 10px;
    }
    .img-sct-3 .corte-ft{
        width: 200px;
    }
    /*sct-4*/
    .sct-4{
        margin: 30px 0 0 0;
        width: 100%;
        padding: 20px;
    }
    .sct-4-cnt h2{
        width: 100%;
        font-size: 2rem;
        margin: 0;
    }
    .sct-4-cnt{
        margin: 0 0 30px 0;
    }
    .card{
        margin: 0;
    }
    .cards{
        gap: 15px;
        padding: 10px;
    }
    /*sct 5*/
    .sct-5{
        width: 100%;
    }
    .sct-5 h3{
        font-size: 2rem;
        padding: 10px;
    }
    iframe{
        width: 100%;
        padding: 5px;
        height: 200px;
        border-radius: 10px;
    }
    .footer{
        flex-direction: column;
        display: flex;
        padding: 20px;
    }
    .footer p{
        font-size: 1rem;
    }
    .footer img{
        width: 100%;
    }
    .footer .logo-rp{
        width: 100px;
    }
    /*wp fixed*/
    .wp img{
        width: 50px;
        opacity: 0.9;
    }
    .btn-topo{
        right: 8px;
        padding: 3px;
    }
    .social{
        height: 100px;
    }
}
@media(min-width: 481px) and (max-width: 768px){
    .header-section{
        height: 200px;
    }
    video{
        height: 100%;
    }
    .content-header h1{
        width: 100%;
        margin: 0;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .nav{
    display: none;
    }
    .content-header-2 p{
        width: 100%;
        font-size: 2rem;
        justify-content: center;
        display: flex;
        text-align: center;
    }
    /*sct-1*/
    .sct-1{
        width: 100%;
        padding: 0;
        margin-top: -15px;
    }
    .content-sct-1{
        width: 100%;
        margin: 0;
    }
    .content-sct-1 h3{
        font-size: 2.5rem;
    }
    .content-sct-1 p{
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 40px;
        padding: 20px;
    }
    /*sct2*/
    .style-sct2{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .sct-2 img{
        width: 100%;
        margin: 0;
        height: 300px;
        object-fit: fill;
    }
    .sct-2{
        padding: 30px;
    }
    .sct-2 figure{
        margin: 0;
    }
    .sct-2-price{
        width: 100%;
    }
    .content-sct-2{
        margin: 0 0 50px 0;
    }
    /*sct 3*/
    .sct-3{
        margin: 0;
    }
    .sct-3 figure{
        margin: 0;
    }
    .sct-3 figcaption{
        margin-bottom: 20px;
    }
    .img-sct-3{
        margin: 0;
    }
    /*sct 4*/
    .sct-4{
        margin: 30px 0 80px 0;
    }
    .sct-4-cnt{
        margin: 0 0 30px 0;
    }
    .cards{
        gap: 0;
    }
    /*sct 5*/
    .sct-5 h3{
        font-size: 2.5rem;
    }
    iframe{
        width: 100%;
        height: 300px;
        padding: 10px;
    }
    /*footer*/
    .footer{
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }
}
@media (min-width: 769px) and (max-width: 1279px){
    .content-header{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    video{
        height: 1500px;
    }
    .content-header h1{
        margin: 0;
        justify-content: center;
    }
    .nav a{
        font-size: 1rem;
    }
    .nav{
        padding: 10px;
    }
    .content-header-2{
        width: 100%;
        font-size: 2.3rem;
        text-align: center;
        padding: 20px;
    }
    .sct-1{
        width: 100%;
    }
    .sct-1 figure{
        margin: 0;
    }
    .ft-1{
        width: 100%;
    }
    .ft-1 img{
        object-fit: contain;
    }
    .content-sct-1{
        width: 100%;
        margin: 0;
        text-align: center;
        padding: 10px;
    }
    .sct-2{
        width: 100%;
        padding: 20px;
    }
    .style-sct2{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .style-sct2 img{
        width: 100%;
        margin: 0;
    }
    .content-sct-2{
        width: 100%;
        margin: 0 0 50px 0;
    }
    .footer{
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .btn-topo{
        padding: 5px;
    }
}
@media (min-width: 1280px){
    .content-header{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .content-header h1{
        margin: 0;
        justify-content: center;
    }
    .nav a{
        font-size: 1rem;
    }
    .nav{
        padding: 10px;
    }
    .content-header-2{
        width: 100%;
        font-size: 2.3rem;
        text-align: center;
        padding: 20px;
    }
    .sct-1{
        display: flex;
        width: 100%;
        align-items: center;   
    }
    .content-sct-2{
        margin: 0;
        width: 100%;
    }
    .style-sct2 figure{
        margin: 0;
    }
    .style-sct2 img{
        margin: 0;
        padding: 20px;
        border-radius: 40px;
    }
    .img-sct-3{
        width: 100%;
    }
    .cards{
    width: 100;
    }
    .card{
        width: 350px;
    }
}